<% team_class = '' unless local_assigns.has_key? :team_class %>
<section class="equipo <%= team_class %>">
	<div class="container">
		<h2 class="text-uppercase">Equipo</h2>
		<% info_count = 0 %>
		<% info_collection = [] %>
		<% TeamMember.all.each do |team_member| %>
			<h4>
				<%= team_member.name %>
				<% if team_member.info.present? %>
					<sup><%= info_count+=1 %></sup>
					<% info_collection << team_member.info %>
				<% end %>
			</h4>
			<p><%= team_member.job %></p>
		<% end %>
		<% info_collection.each_with_index do |info, index| %>
			<div>
				<small>
					<sup><%= index + 1 %></sup>
					<%= info.html_safe %>
				</small>
			</div>
		<% end %>
	</div>
</section>