<div class="main-image small bg-contact">
	<div class="container">
		<h2>CONTACTO</h2>
	</div>
</div>
<section class="bg-ash-dark">
	<div class="container">
		<h3>MENSAJES</h3>
		<div class="row space-NS-40">
			<div class="col-xs-12 col-sm-6 space-xs-S-50">
				<%= form_for Contact.new do |f| %>
					<div class="form-group">
						<%= f.text_field :name, class: 'form-control', placeholder: 'Nombre', required: true %>
					</div>
					<div class="form-group">
						<%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
					</div>
					<div class="form-group space-S-30">
						<%= f.text_area :message, class: 'form-control', placeholder: 'Mensaje', rows: 10, required: true %>
					</div>
					<%= f.submit 'ENVIAR', class: 'btn btn-default btn-block' %>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="map-container">
					<div class="map-canvas" id="map_canvas"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<% content_for :extra_js do %>
	$('#new_contact').validate();
<% end %>
<% content_for :extra_scripts do %>
	<script type="text/javascript">
		var startMap = function() {
			Utils.startMap('map_canvas');
		};
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
<% end %>