<%= render 'slider' %>
<section>
	<div class="container">
		<h2>IMAGENES<a href="<%= static_images_path %>" class="btn btn-primary pull-right">VER MÁS</a></h2>
		<div class="row tight-10 space-NS-40 organize-S-20">
			<div class="col-xs-3"><%= image_tag 'image1.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image2.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image3.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image4.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image5.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image6.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image7.jpg', class: 'cover' %></div>
			<div class="col-xs-3"><%= image_tag 'image8.jpg', class: 'cover' %></div>
		</div>
	</div>
</section>
<section class="bg-couple-coffee">
	<div class="container">
		<h2>PRACTICAS</h2>
		<h3>SIN TURNO</h3>
		<ul>
			<li>Espermograma + morfología con criterio de Kruger + swim up diagnóstico</li>
			<li>Espermocultivo</li>
			<li>Mar Test</li>
			<li>Recuperación de espermatozoides desde orina (eyaculación retrógrada)</li>
			<li>Lavado y selección de espermatozoides (swim up para inseminaciones intrauterinas)</li>
			<li>Ensayo de TUNEL y CASPASA 3 ACTIVA* (El informe estará disponible pasados 20 días de entrega de la muestra)</li>
			<li>Criopreservación de muestras de semen (tratamientos de fertilidad/eyaculación retrógrada/tratamientos oncológicos)</li>
			<li>Biopsia testicular</li>
		</ul>
		<h3>CON TURNO</h3>
		<ul>
			<li>Cariotipos (el informe estará disponible 35 días después de la extracción)</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<h2>ULTIMOS TWEETS</h2>
		<div class="row space-NS-40">
			<div class="col-xs-3 text-center tweet">
				<%= image_tag 'tweet-avatar1.png', class: 'avatar' %>
				<h4 class="normal text-uppercase">Roxana Napolitano</h4>
				<p><i><b>@handler</b></i></p>
				<hr>
				<p>Trabajamos con el objetivo de brindar asistencia en temas de fertilidad. Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad)</p>
			</div>
			<div class="col-xs-3 text-center tweet">
				<%= image_tag 'tweet-avatar2.png', class: 'avatar' %>
				<h4 class="normal text-uppercase">Sebastian</h4>
				<p><i><b>@vertigo_cl</b></i></p>
				<hr>
				<p>Trabajamos con el objetivo de brindar asistencia en temas de fertilidad. Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad)</p>
			</div>
			<div class="col-xs-3 text-center tweet">
				<%= image_tag 'tweet-avatar3.png', class: 'avatar' %>
				<h4 class="normal text-uppercase">Mariana Gojia</h4>
				<p><i><b>@jess76</b></i></p>
				<hr>
				<p>Trabajamos con el objetivo de brindar asistencia en temas de fertilidad. Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad)</p>
			</div>
			<div class="col-xs-3 text-center tweet">
				<%= image_tag 'tweet-avatar4.png', class: 'avatar' %>
				<h4 class="normal text-uppercase">Daniela Linares</h4>
				<p><i><b>@dx4joi</b></i></p>
				<hr>
				<p>Trabajamos con el objetivo de brindar asistencia en temas de fertilidad. Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad)</p>
			</div>
		</div>
	</div>
</section>
<%= render 'team' %>
<section class="bg-ash inspace-S-0">
	<div class="bg-downloads-mini">
		<div class="container">
			<h4>APRENDE MAS SOBRE DISTINTOS CASOS:</h4>
			<a href="<%= downloads_path %>" class="btn btn-default pull-right">DESCARGAS</a>
			<p class="space-S-40 max-x-800"><small>Queremos compartir con vos nuestras experiencias, las que hemos desarrollado y vivido durante años, para que observes las distintas posibilidades que surgen en los casos de fertilidad.</small></p>
		</div>
	</div>
</section>