<div class="main-image bg-institutional">
	<div class="container">
		<h2>INSTITUCIONAL</h2>
	</div>
</div>
<section>
	<div class="container">
		<h3 class="space-S-40">INSTITUCIONAL</h3>
		<p class="space-S-40">
			Apostamos a la diversidad. Trabajamos por un mundo más abierto y tolerante brindando asistencia en temas de fertilidad.<br>
			<br>
			Realizamos estudios diagnósticos y terapéuticos en tratamientos de Reproducción Asistida.<br>
			<br>
			Nuestra experiencia de más de 20 años en medicina y biología reproductiva (más de 5000 procedimientos de Reproducción Asistida de Alta y Baja Complejidad) permite orientar a las parejas en la aventura de buscar un hijo: desde el inicio, en el diagnóstico de la  infertilidad, hasta el final, en el tratamiento, si es que éste fuera necesario.<br>
			<br>
			Nuestro anhelo es acompañar y compartir sentimientos, dudas, y preguntas en el camino de búsqueda de un hijo. En éste camino aparecen nuevos desafíos: estudios diagnósticos, tratamientos, un nuevo lenguaje, médicos y consultas.<br>
			<br>
			Compartimos una política de puertas abiertas con nuestros colegas y pacientes, ofreciéndoles la posibilidad de controlar ó auditar el proceso analítico de sus muestras.<br>
			<br>
			Ofrecemos consultoría permanente a médicos y pacientes.
		</p>
	</div>
</section>
<section class="bg-grey">
	<div class="container">
		<div class="row space-S-60">
			<div class="col-xs-4">
				<%= image_tag 'institutional1.jpg', class: 'cover' %>
			</div>
			<div class="col-xs-4">
				<%= image_tag 'institutional2.jpg', class: 'cover' %>
			</div>
			<div class="col-xs-4">
				<%= image_tag 'institutional3.jpg', class: 'cover' %>
			</div>
		</div>
	</div>
</section>
<%= render 'team', team_class: 'bg-ash' %>
<%= render 'schedules/schedule', schedule_class: 'schedule', icons: false %>