<%= form_for @image_gallery, :html => { :multipart => true } do |f| %>
  <% if @image_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_gallery.errors.count, "error") %> prohibited this image_gallery from being saved:</h2>

      <ul>
      <% @image_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= label_tag 'gallery_images_', 'Imágenes' %><br>
    <%= file_field_tag 'gallery_images[]', multiple: true, accept: 'image/*' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
