<div class="col-xs-3">
	<%= link_to image_gallery, class: 'clean' do %>
		<h5 class="normal text-uppercase"><%= image_gallery.title %></h5>
		<%= image_tag image_gallery.cover.url(:thumb), class: 'cover' %>
	<% end %>
	<%= link_to 'Edit', edit_image_gallery_path(image_gallery) %>
	<%= link_to 'Destroy', image_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>