<div class="col-xs-6 col-sm-3">
	<%= link_to image_gallery, class: 'clean' do %>
		<h5 class="normal text-uppercase ellipsis"><%= image_gallery.title %>&nbsp;</h5>
		<%= image_tag image_gallery.cover(:thumb), class: 'cover' %>
	<% end %>
	<% if admin_signed_in? %>
		<%= link_to 'Edit', edit_image_gallery_path(image_gallery) %> | 
		<%= link_to 'Editar items', image_gallery %> | 
		<%= link_to 'Destroy', image_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>