<% content_for :breadcrumb do %>
	<ol class="breadcrumb" style="<%= 'margin-top:15px;' if admin_signed_in? %>">
	  <li><a href="<%= image_galleries_path %>">Inicio</a></li>
	  <li class="active"><%= @image_gallery.title %></li>
	</ol>
<% end %>
<div class="main-image small bg-images">
  <div class="container">
    <h2 class="text-uppercase">Imágenes</h2>
  </div>
</div>
<section>
  <div class="container">
  	<% if admin_signed_in? and @show_as_regular_user.blank? %>
	  	<%= form_tag image_gallery_items_path(@image_gallery), method: :put do %>
		  	<%= submit_tag %> | 
			  <%= link_to 'Preview', image_gallery_preview_path(@image_gallery) %>
			  <%= yield :breadcrumb %>
		  	<div class="row tight-10 space-NS-40 organize-S-20">
			  	<% @image_gallery.items.each do |item| %>
				  	<div class="col-xs-6 col-sm-3">
				  		<%= hidden_field_tag 'items[]id', item.id %>
				  		<%= text_field_tag 'items[]title', item.title, class: 'form-control', placeholder: 'Titulo de la foto' %>
				  		<%= image_tag item.image.url(:thumb), class: 'cover' %>
				  		<%= text_area_tag 'items[]text', item.text, class: 'form-control', rows: 4, placeholder: 'Descripción' %>
				  		<%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
				  	</div>
			  	<% end %>
		  	</div>
	  	<% end %>
	  <% else %>
		  <%= link_to 'Seguir editando', @image_gallery if admin_signed_in? %>
		  <%= yield :breadcrumb %>
	  	<div class="row tight-10 space-NS-40 organize-S-20">
		  	<% @image_gallery.items.each do |item| %>
			  	<div class="col-xs-6 col-sm-3">
			  		<%= link_to item, class: gallery_item_class, data: { text: item.text, url: item.image.url, id: item.id } do %>
				  		<h5 class="normal text-uppercase"><%= item.title %></h5>
				  		<%= image_tag item.image.url(:thumb), class: 'cover' %>
			  		<% end %>
			  	</div>
		  	<% end %>
		  </div>
	  <% end %>
  </div>
</section>
<% unless admin_signed_in? and @show_as_regular_user.blank? %>
	<%= render 'gallery', items: @image_gallery.items unless browser.mobile? %>
<% end %>