<% if admin_signed_in? %>
	<div class="admin-info">
		<b>Admin: <%= current_admin.email %></b>
		<%= '<em>Usuario administrador</em>'.html_safe if current_admin.administrator? %>
	</div>
	<div class="admin-buttons">
		<%= link_to 'Admin', admin_path %>
		<%= link_to 'Sign out', destroy_admin_session_path, method: 'delete' %>
		<%= link_to 'Nueva Galería', new_image_gallery_path %>
		<% if @image_gallery.present? && @image_gallery.title.present? %>
			<div>
				<div>Galería</div>
				<%= link_to @image_gallery.title, @image_gallery, class: 'show' %>
				<%= link_to 'Edit', edit_image_gallery_path(@image_gallery), class: 'edit' %>
				<%= link_to 'Destroy', @image_gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
	</div>
	<% content_for :extra_js do %>
		Utils.adminButtons();
	<% end %>
<% end %>