<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="card fixed-200">
		<div class="card-band">
			<i class="icon mime <%= download.type %>"></i>
		</div>
		<div class="card-body">
			<h4 class="text-uppercase ellipsis"><%= download.title %></h4>
			<p><%= download.short %></p>
			<%= link_to download, class: 'info download-info-trigger' do %>
				<%= image_tag 'icon-info.png' %>
			<% end %>
			<%= link_to download.file.url, class: 'download', download: download.name_no_ext do %>
				<%= image_tag 'icon-download.jpg' %>
			<% end %>
		</div>
		<% if admin_signed_in? %>
			<div class="card-admin">
				<%= link_to 'Show', download %> | 
				<%= link_to 'Edit', edit_download_path(download) %> | 
				<%= link_to 'Destroy', download, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		<% end %>
	</div>
</div>