<article class="news-article">
	<h1><%= article.title %><!-- <%= article.id %>--></h1>
	<h4><%= article.subtitle %></h4>
	<% if admin_signed_in? %>
		<%= link_to 'Edit', edit_article_path(article)  %> |
		<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<div><%= article.text.html_safe %></div>
</article>