<% icons = true unless local_assigns.has_key? :icons %>
<% practices = true unless local_assigns.has_key? :practices %>
<% col_class = practices ? 'col-xs-12 col-sm-4' : 'col-xs-12 col-sm-6' %>
<div class="<%= schedule_class %>">
	<div class="container">
		<div class="row">
			<div class="<%= col_class %>">
				<% if icons %>
					<div><i class="icon fecundation first"></i></div>
				<% end %>
				<h4 class="space-NS-20"><%= @schedules.first.title.html_safe %></h4>
				<div class="small"><%= @schedules.first.text.html_safe %></div>
			</div>
			<div class="<%= col_class %>">
				<% if icons %>
					<div><i class="icon fecundation second"></i></div>
				<% end %>
				<h4 class="space-NS-20"><%= @schedules.second.title.html_safe %></h4>
				<div class="small"><%= @schedules.second.text.html_safe %></div>
			</div>
			<% if practices %>
				<div class="<%= col_class %>">
					<% if icons %>
						<div><i class="icon fecundation third"></i></div>
					<% end %>
					<h4 class="space-NS-20"><%= @schedules.third.title.html_safe %></h4>
					<div class="small"><%= @schedules.third.text.html_safe %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>