<% content_for :extra_js do %>
	Utils.scroller();
<% end %>
<footer>
	<div class="container footer-top">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="brand"><%= image_tag 'logo.png' %></div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<nav class="menu">
					<a class="<%= nav_class 'home' %>" href="<%= root_path %>">HOME</a>
					<a class="<%= nav_class 'institutional' %>" href="<%= institutional_path %>">INSTITUCIONAL</a>
					<a class="<%= nav_class 'instructionals', :controller %>" href="<%= instructionals_path %>">HORARIOS/INSTRUCTIVOS</a>
					<a class="<%= nav_class 'information' %>" href="<%= information_path %>">INFO PARA PACIENTES</a>
					<a class="<%= nav_class 'services' %>" href="<%= services_path %>">SERVICIOS A TERCEROS</a>
					<a class="<%= nav_class 'news' %>" href="<%= news_path %>">NOTICIAS</a>
					<a class="<%= nav_class 'contact' %>" href="<%= contact_page_path %>">CONTACTO</a>
					<a class="<%= nav_class 'downloads', :controller %>" href="<%= downloads_path %>">DESCARGAS</a>
				</nav>
			</div>
			<div class="col-xs-12 col-sm-4 contact">
				<div class="relative">
					<div class="absolute"><i class="icon contact location"></i></div>
					<p>
						DIRECCIÓN<br>
						Diag 73 N 2181, of 3, entre 46 y 47<br>
						La Plata. Buenos Aires. Argentina.
					</p>
				</div>
				<div class="relative">
					<div class="absolute"><i class="icon contact phone"></i></div>
					<p>
						TELEFONO<br>
						<a href="tel:+542214219364">+54 221 421 9364</a> / <a href="tel:+5492214857015">+54 9 221 4857015</a>
					</p>
				</div>
				<div class="relative">
					<div class="absolute"><i class="icon contact mail"></i></div>
					<p>
						EMAIL<br>
						<a href="mailto:info@laboratorioyfertilidad.com">info@laboratorioyfertilidad.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-ash-dark footer-bottom">
		<div class="container">
			<div class="social">
				<a href="javascript:void(0);"><i class="icon social facebook"></i></a>
				<a href="javascript:void(0);"><i class="icon social twitter"></i></a>
				<a href="javascript:void(0);"><i class="icon social google"></i></a>
				<a href="javascript:void(0);"><i class="icon social instagram"></i></a>
			</div>
			<p class="text-right">
				<small>
					<big>&reg;</big> &nbsp; 2015 - Laboratorio y Fertilidad. &nbsp; Powered by <%= image_tag 'logo-vertigo.png', class: 'logo-vertigo' %>
				</small>
			</p>
			<div class="text-center">
				<a href="javascript:void(0);" data-scroll="header"><%= image_tag 'footer-arrow-up.jpg', class: 'footer-arrow-up' %></a>
			</div>
		</div>
	</div>
</footer>