<footer>
	<div class="container footer-top">
		<div class="row">
			<div class="col-xs-4">
				<div class="brand"><%= image_tag 'logo.png' %></div>
			</div>
			<div class="col-xs-4">
				<nav class="menu">
					<a class="<%= nav_class 'home' %>" href="<%= root_path %>">HOME</a>
					<a class="<%= nav_class 'institutional' %>" href="<%= institutional_path %>">INSTITUCIONAL</a>
					<a class="<%= nav_class 'instructional' %>" href="javascript:void(0);">INSTRUCTIVOS</a>
					<a class="<%= nav_class 'spermogram' %>" href="javascript:void(0);">ESPERMOGRAMA</a>
					<a class="<%= nav_class 'insemination' %>" href="javascript:void(0);">INSEMINACION</a>
					<a class="<%= nav_class 'contact' %>" href="javascript:void(0);">CONTACTO</a>
					<a class="<%= nav_class 'downloads' %>" href="javascript:void(0);">DESCARGAS</a>
				</nav>
			</div>
			<div class="col-xs-4 contact">
				<div class="relative">
					<div class="absolute"><i class="icon contact location"></i></div>
					<p>
						DIRECCIÓN<br>
						Diag 73 N 2181, of 3, entre 46 y 47<br>
						La Plata
					</p>
				</div>
				<div class="relative">
					<div class="absolute"><i class="icon contact phone"></i></div>
					<p>
						TELEFONO<br>
						0221 421 9364 / 0221-15-4857016
					</p>
				</div>
				<div class="relative">
					<div class="absolute"><i class="icon contact mail"></i></div>
					<p>
						EMAIL<br>
						labfertilidad@hotmail.com
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-ash-dark footer-bottom">
		<div class="container">
			<div class="social">
				<a href="javascript:void(0);"><i class="icon social facebook"></i></a>
				<a href="javascript:void(0);"><i class="icon social twitter"></i></a>
				<a href="javascript:void(0);"><i class="icon social google"></i></a>
				<a href="javascript:void(0);"><i class="icon social instagram"></i></a>
			</div>
			<p class="text-right">
				<small>
					2015 - Laboratorio y Fertilidad. &nbsp; Powered by <%= image_tag 'logo-vertigo.png', class: 'logo-vertigo' %>
				</small>
			</p>
			<div class="text-center">
				<a href="javascript:void(0);"><%= image_tag 'footer-arrow-up.jpg', class: 'footer-arrow-up' %></a>
			</div>
		</div>
	</div>
</footer>