<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="main-image mini bg-institutional"> </div>
<section class="admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <%= yield %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
<%= render 'layouts/notice' %>
<script>
  $(function() {
    <%= yield :extra_js if content_for? :extra_js %>
  });
</script>
</body>
</html>
