<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="main-image mini bg-institutional"> </div>
<section class="admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= yield %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
<script>
  $(function() {
    <% if content_for? :extra_js %>
      <%= yield :extra_js %>
    <% end %>
    <% if notice.present? %>
      alert('<%= notice %>');
    <% end %>
    <% if alert.present? %>
      alert('<%= alert %>');
    <% end %>
  });
</script>
</body>
</html>
