<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<%= yield %>
<%= render 'layouts/footer' %>
<%= render 'layouts/notice' %>
<script>
  $(function() {
    <%= yield :extra_js if content_for? :extra_js %>
  });
</script>
<%= yield :extra_scripts if content_for? :extra_scripts %>
</body>
</html>
